$dark-gray: #1c1c1c;
$dark-gray2: #1d1d1d;
$white: #ffffff;
$black: #000000;
$light-gray: #363636;
$light-gray2: #b6b6b6;
$light-gray3: #3c3c3c;
$yellow: #cc9601;
$red: #c62828;
$light-gray4: #1a1b1c;
$black-alpha50: rgba(0, 0, 0, 0.5);
