body {
  font-size: 14px;
  color: #fff;
  background: #000;
  line-height: normal;
  font-family: "Helvetica Neue", sans-serif;
}

.container {
  width: 1280px;
  @media (min-width: 375px) and (max-width: 767px) {
    width: auto;
  }
  margin: 0 auto;
}
